University/src/test/resources/datasets/database.dtd

<!ELEMENT dataset (rooms| groups| students|teachers|subjects|lessons)*>
        <!ELEMENT rooms (#PCDATA)>
        <!ATTLIST rooms
                room_id ID #IMPLIED
                room_number CDATA #REQUIRED
                seat_number CDATA #REQUIRED>
        <!ELEMENT groups (#PCDATA)>
        <!ATTLIST groups
                group_id ID #IMPLIED
                group_name CDATA #REQUIRED>
        <!ELEMENT students (#PCDATA)>
        <!ATTLIST students
                student_id ID #IMPLIED
                first_name CDATA #REQUIRED
                last_name CDATA #REQUIRED
                group_id CDATA #REQUIRED>
        <!ELEMENT teachers (#PCDATA)>
        <!ATTLIST teachers
                teacher_id ID #IMPLIED
                first_name CDATA #REQUIRED
                last_name CDATA #REQUIRED>
        <!ELEMENT subjects (#PCDATA)>
        <!ATTLIST subjects
                subject_id ID #IMPLIED
                subject_name CDATA #REQUIRED>
        <!ELEMENT lessons (#PCDATA)>
        <!ATTLIST lessons
                lesson_id ID #IMPLIED
                period CDATA #REQUIRED
                group_id CDATA #REQUIRED
                room_id CDATA #REQUIRED
                subject_id CDATA #REQUIRED
                teacher_id CDATA #REQUIRED
                lesson_date CDATA #REQUIRED>


